*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Roboto', sans-serif;
    text-align: center;
    
}

#fondo{
    background: linear-gradient(90deg, #F8CDFF 0%, #C3FFFC 100%);
}

h2:hover{
    animation: myAnim 2s ease 0s 1 normal forwards;
}

.salida{
    text-transform: uppercase;
    width: 30%;
    height: 100px;
    margin: 10px auto;
    border: 1px solid black;

}


@keyframes myAnim {
	0%,
	50%,
	100% {
		opacity: 1;
	}

	25%,
	75% {
		opacity: 0;
	}
}

